
<img src="{{img_2.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_3.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_4.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_5.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_6.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_7.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_8.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_9.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_10.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_11.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_12.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_13.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_14.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_15.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_16.image.url}}" class="rounded float-end" alt="...">
<img src="{{img_17.image.url}}" class="rounded float-end" alt="...">