<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Sizni bayram bilan tabriklaydi!!!</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Narzullayev Shaxboz">
  </div>
  <br>
  <br>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Hurmatli Qadrdonlarim! 
       Sizlarni va oila aʼzolaringizni kirib kelayotgan 2023 yil - Yangi yil bayrami bilan samimiy tabriklayman.
       <br>
       Sizlarga sogʻlik, omonlik, baxt-saodat, oilaviy tinchlik va ishlaringizga ulkan zafarlar tilayman!!!
       <br>
        Barcha orzu-umidlaringizni roʻyobga chiqishida Alloh oʻzi madadkor boʻlsin. Yangi 2023- yil xalqimiz,
        <br> butun insoniyat qatori Sizu-biz uchun ham eng serfayz, osuda va omadli yil boʻlib xonadonimizga kirib kelsin. 
        <br>Asosiysi,  oldinga umid bilan, orqaga shukur bilan, tepaga ishonch bilan, atrofga mehr bilan boqing, shunda hammasi yaxshi boʻladi.
      <br>
      <br>
      <br>
      Yana bir yil, Yana bir baraka!!!

Yaqinlashib kelayotgan yangi yil ayyomingiz muborak bo'lsin, qadrdonim!!!

Ushbu  ulug' kunlarda sizga mustahkam salomatlik va uzoq umr, bitmas-tuganmas kuch-g'ayrat va ko'plab yangi g'alabalar tilayman!

Atrofingizda doim tinchlik va osoyishtalik, quvonch va baxt hukmron bo'lsin.💜
      </label>

  </div>  